:root {
    --footer-height: 70px;
  }

@font-face {
    font-family: whiterabbit;
    src:    url('../fonts/whitrabt.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: roadragefont;
    src: url("../fonts/Road_Rage.otf") format("opentype");
    font-display: swap;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.d-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.center {
    align-items: center;
}

body {
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, purple);
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin: 0 auto calc(-1 * var(--footer-height));
}

.footer, .push {
    height: var(--footer-height);
}

footer {
    justify-content: center;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.py-2em {
    padding: 2em 0;
}

main {
    font-family: "whiterabbit";
    color: greenyellow;
    width: 80%;
    margin: auto;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color: greenyellow;
    border-width: 24px 2px 2px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-content:not(.active) {
    display: none;
}

.main-content .inner {
    margin: auto;
    height: 43vh;
    overflow-y: auto;
    padding-right: 10px;
}

.arrow {
    padding: .5em 1em;
    background-color: purple;
    height: max-content;
    margin: 0 1em;
    border-style: solid;
    border-color: greenyellow;
    border-width: 2px;
    
}
.right {
    cursor: e-resize;
}
.left {
    cursor: w-resize;
}

main h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: underline;
}

main p {
    font-size: 1.4em;
    line-height: 1.2;
    letter-spacing: -1px;
}

header {
    justify-content: center;
    align-items: center;
    font-family: "roadragefont";
    margin-bottom: 30px;
}

header h1 {
    font-size: 4em;
    letter-spacing: 5px;
    margin-bottom: 0;
}

header h2 {
    font-size: 2em;
    margin: 0;
}

footer {
    font-family: "roadragefont";
}

/*
 *  Custom Scrollbar
 */

 #main-content .inner::-webkit-scrollbar-track
 {
     background-color: purple;
 }
 #main-content .inner::-webkit-scrollbar
 {
     width: 6px;
     background-color: purple;
 }
 #main-content .inner::-webkit-scrollbar-thumb
 {
     background-color: greenyellow;
 }





.glow {
    color: #ff9cdc;
    text-align: center;
    text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

/* sun and road */
.road {
    width: 100%;
    height: 40em;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0px,
        rgba(62, 250, 240, 0.5) 0%,
        rgba(62, 250, 240, 0.5) 3px,
        rgba(0, 0, 0, 0) 0px
      ),
      linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0px,
        rgba(62, 250, 240, 0.5) 0%,
        rgba(62, 250, 240, 0.5) 3px,
        rgba(0, 0, 0, 0) 0px
      );
    background-size: 2em 1em, 2em 1em;
    background-color: rgb(20, 39, 79);
    perspective: 1000px;
    margin-top: 13em;
    transform: perspective(200px) rotateX(45deg) scale(2);
    animation: road 10s linear infinite;
  }
  .sun {
    opacity: 0.9;
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, #faf09d 0%, #fc9093 52.08%, #e92077 100%);
    border-radius: 50%;
    z-index: -1;
    margin: 0 auto;
    position: absolute;
    top: 33%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    filter: blur(1px);
  }
  
  .sun > .lines {
    width: 100%;
    height: 50%;
    position: relative;
    bottom: -60%;
    border-radius: 0 0 50% 50%;
    overflow: hidden;
  }
  
  .lines > .line {
    width: 100%;
    height: calc(5px * var(--pos));
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: overlay;
    margin-bottom: 1rem;
  }
  
  @keyframes road {
    from {
      transform: perspective(200px) rotateX(45deg) scale(1.5);
    }
    to {
      transform: perspective(200px) rotateX(45deg) scale(2.1);
    }
  }
  
