<div class="row">
    <div class="col">
        <h1 class="glow">Developer Portfolio</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 class="glow">{{ name }}</h2>
    </div>
</div>