<html>
  <head>
    {% include "styles" %}
  </head>
  <body>
    <div class="content">
      <header class="">
        {% include "header" %}
      </header>
      <main>
        {% include "main" %}
      </main>
      <div class="push"></div>
    </div>
    <footer class="footer">
      {% include "footer" %}
    </footer>
  </body>
</html>