<html>
  <head>
    {% include "styles" %}
  </head>
  <body>
    <header class="">
      {% include "header" %}
    </header>
    <main>
      {% include "main" %}
    </main>
    <footer>
      {% include "footer" %}
    </footer>
  </body>
</html>