<html>
  <head>
    {% include "styles" %}
    {% include "scripts" %}
  </head>
  <body>
    <div class="content">
      <header class="">
        {% include "header" %}
      </header>
      <main class="align-items-center" id="main"> {% block main %}{% endblock main %}
        {% include "sun" %}
        {# <div class="road"></div> #}
      </main>
      <div class="push"></div>
    </div>
    <footer class="footer">
      {% include "footer" %}
    </footer>
  </body>
</html>