<div class="row">
    <div class="col align-items-center p-2em">
        <div class="main-content active col align-items-center">
            {% include "about" %}
        </div>
        <div class="main-content col align-items-center">
            {% include "projects" %}
        </div>
    </div>
</div>