<link as="font" crossorigin="anonymous" href="../fonts/Road_Rage.otf" rel="preload" type="font/otf"/>
<link as="font" crossorigin="anonymous" href="../fonts/whitrabt.woff" rel="preload" type="font/woff"/>
<link href="static/css/styles.css" rel="stylesheet" type="text/css"/>